* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map-id {
  height: 100vh;
}

.left-menu {
  width: 350px;
  height: 100%;
  z-index: 1000;
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element-list {
  background-color: white;
  width: 100%;
  height: 550px;
  border-radius: 10px;
  padding: 5px;
  overflow-y: scroll;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.element-list::-webkit-scrollbar {
  display: none;
}

.element-row {
  margin: 5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 5px;
  align-items: center;
}

.colomn-in-row {
  display: inline-block;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

.add-new-element {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  max-height: 305px;
  overflow-y: scroll;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.add-new-element::-webkit-scrollbar {
  display: none;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
  align-items: center;
  border-radius: 5px;
}

.input-field {
  width: 75%;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

.add-button {
  margin: 5px;
  border: 0px;
  background-color: dodgerblue;
  padding: 8px;
  color: white;
  border-radius: 5px;
}

.empty-text {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coordinates-title {
  justify-content: center;
  margin-inline: auto;
}

.coordinates-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.coordinates-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coordinates-column {
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}